html {
  height: 100%;

}

body {
    background-color: #2C2D33;
    margin: 0;
    padding: 0;
    height: 100%;
  width: 100%;
}

#app {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main-container {
  display: flex;
  min-height: 400px;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#frame-container {
    padding: 25px;
    box-sizing:  content-box;
    border: 1px solid white;
    position: relative;
    height: 400px;
    width: 400px;
}

#frame-container .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    max-height: 450px;

    background-color: #fff;
    transition: all 0.3s ease-in-out;


}

#frame-container.slide-in .box{
    animation: frame-in 1s;
    animation-play-state: running;
}

#frame-container.slide-out .box{
    animation: frame-out 1s;
    animation-play-state: running;

}

.info-column {
  color: #fff;

}

#frame, .not-found{
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.frame {
  position: relative;
  margin: 0;
  left: 0;
  top: 0;
}

.unmounted #main-container {
  display: none;
}

.interact {
  position: absolute;
  color: #fff;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
}