<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="app" class="unmounted">
      <a :href="'https://100dayscss.com/days/'+day" target="_blank">
        <h2>100 Days of CSS - Day {{day}}</h2>
      </a>
      <div id="top"></div>
      <div id="main-container">
        <div class="frame-column">
          <div id="frame-container">
            <div id="frame" v-if="!isDayNull"></div>
            <div v-else class="not-found">Coming soon 🥶</div>
            <div class="box"></div>
            <div class="interact" v-show="toInteract">Interactive!</div>
          </div>
        </div>
        <div class="info-column">
          <div class="head">
            <div class="title">DAY {{day}}</div>
            <button
              id="previous-day"
              @click="previousDay()"
              :disabled="day <= 1"
            >
              <div class="circle"></div>
              <span class="iconify" data-icon="bi:arrow-left"></span>
            </button>

            <button id="next-day" @click="nextDay()" :disabled="day >= 100">
              <div class="circle"></div>
              <span class="iconify" data-icon="bi:arrow-right"></span>
            </button>
          </div>
          <div class="summary">
            <button
              v-for="(d, index) in daysList"
              :key="index"
              @click="day = index+1"
              :disabled="!d"
              v-cloak
              :class="{empty: !d}"
            >
              <div class="day-active"></div>

              {{index + 1}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@iconify/iconify@2.1.2/dist/iconify.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script src="index.js"></script>
    <script id="day-script"></script>
    <script>
      app.mount("#app");
    </script>
  </body>
</html>
